

.AddCardPopup {
    position: absolute;
    display: block;
    height: 400px;
    margin-top: 48px;
    margin-left: -62.5%;
    width: 75%;
	background: white;
	border-radius: 30px;
}

#title {
	font-size: 24pt;
}