

.Card {
	background-color: white;
	width: 190px;
	height: 200px;
	display: inline-block;
	border-radius: 20px;
	text-align: center;
	margin: 5px;
	cursor: default;
}

#Header {
	border-bottom: 1px solid grey;
	height: 25px;
	overflow: hidden;
}

.edit {
	margin-left: 10px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	width: 20px;
	height: 20px;
}

.Title {
	margin-left: 30px;
	margin-top: -25px;
	text-emphasis: bold;
	width: 130px;
	height: 25px;
}

.trash {
	position: absolute;
	margin-left: 65px;
	margin-top: -22.5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.Body {
	height: 150px;
	font-size: 10pt;
	width: 190px;
	overflow-y: scroll;
	overflow-wrap: break-word;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	border-bottom: 1px solid grey;
}

.Body::-webkit-scrollbar {
  width: 0 !important
}

.Footer {
	font-size: 9pt;
	color: grey;
}