

.TopBar {
	background-color: lightgrey;
	width: 100%;
	height: 100px;
}

table {
	width: 100%;
	height: 100%;
	border: transparent;
	border-collapse: collapse;
}

td#Logo {
	width: 25%;
	height: 100%;
}

td#Title {
	text-align: center;
	width: 50%;
	font-size: 30pt;
	font-family: 'Segoe UI', sans-serif;
	font-weight: bold;
}

td#AddCard {
	width: 25%;
}

#logo {
	height: 100px;
	display: block;
	border-radius: 10px;
}